{% extends 'accounts/base.html' %}
{% block title %}新規登録画面{% endblock %}
{% block subheader %}{% endblock %}
{% block content %}
<div class="ui text container">
  <div class="ui segment">
    <div class="content">
      <div class="header"><h3>新規登録</h3></div>
      <form class="ui form" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          {{ field.label_tag }}{{ field }}{{ field.help_text }}
        </div>
          {% for error in field.errors %}
          <div class="ui form error">
            <div class="ui error message"><p>{{ error }}</p></div>
          </div>
          {% endfor %}
        {% endfor %}
        <button class="ui orange button" name="next" value="confirm" type="submit">確認</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
