@charset "utf-8";

/* base.html */
div.ui.blue.medium.stackable.inverted.menu {
  margin-bottom: 0%;
}

/* top.html */
main.bg-image {
  background-color: #e6f5fa;
  background-size: cover;
}

h4 {
  padding-top: 1em;
}
div.ui.raised.segment {
  background-color: #FFFFEF;
}

i.icon {
  font-size: 20px;
  width: 45px;
}

a.ui.blue.button{
  position: fixed;
  bottom: 60px;
  right: 100px;
  padding: 15px 30px;
}

a.ui.blue.button:hover, a.ui.blue.button:focus, a.ui.blue.button:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

/* tweet.html */
div.field.tweet {
  padding-top: 20px;
}
