{% extends 'blog/base.html' %}

{% block title %}ツイート画面{% endblock %}
{% block subheader %}{% endblock %}
{% block content %}
<div class="ui text container">
	<div class="ui content">
		<form class="ui form" action="" method="POST">
			{% csrf_token %}
			<div class="field tweet">
				<label>ツイート</label>
				{{ form.text }}
			</div>
			<div class="ui error message">{{ form.non_field_errors }}</div>
			<div class="ui error message">{{ form.text.errors }}</div>
			<a href="{% url 'blog:top' %}" class="ui button">キャンセル</a>
			<button class="ui right floated blue button" type="submit">ツイート</button>
		</form>
	</div>
</div>
{% endblock %}
